*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
  display: grid;
  place-items: center;
}
button{
  padding: 1rem;
  border:none;
  font-weight:500;
  background-color: cadetblue;
  border-radius: .5rem;
}